<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project226.a000webhostapp.com.test123">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

        <activity android:name=".ForgetEmailActivity" />
        <activity
            android:name=".ForgetPassword"
            android:label="@string/title_activity_forget_password"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>